<div style="padding-left: 40%; padding-top: 5%;">
  <form [formGroup]="form" (ngSubmit)="ResetPassword($event)" class="example-form" style="text-align: center;">
    <mat-card style="text-align: center; max-width: 30%;">
      <!-- <button mat-mini-fab color="primary" style="display: inline; justify-self: start;" aria-label="Example icon button with a home icon">
        <mat-icon>arrow_back</mat-icon>
      </button> -->
      <h1>Prime Properties</h1>
      <mat-card-content>
        <h4>Please enter the email address that you have used to sign up for an account. We will send you a link that will allow you to reset your account password.</h4>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email Address</mat-label>
          <input formControlName="Email" name="Email" matInput placeholder="Email Address">
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Send Reset Password Email</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>

<div>
  <a mat-button href="https://imgur.com/gallery/dhJ5LAV" target="_blank">
    Help?
    </a>
  
    <button class="submit btn-sm btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal">Hint</button>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLabel">Hint: Reset password</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">  
            <div class="ml-5 mt-5 row">    
              This screen allows you the user to Reset their password.
             <br>
              The user will use their registered email to request a new password.  
             <br>
              The user will receive an email with a new password.                      
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  </div>
      <!-- Aasif End -->