.heading{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 1%;
}
.bottombuttons{
        text-align: right !important;
        padding: 10px;
        button{
            margin: 10px;
            
        }
    }

.backupbutton{
    text-align: center;
    font-size: 42pt;
    size: 28px;
}    

.main-div{
    border: 1px solid;
    border-color: black;

    width: 90%;
    margin-left: 5%;
    margin-top: 2%;

    padding: 20px;

    .DN{
        text-align: center;
        
        h1{
            display: inline;
            text-align: start;
            padding: 5px;
            
        }
    }

    #filepath{
        margin-top: -10px;
        margin-left: 10px;
        border: 1px;

        button{
            border: 1px solid;
        }
    }
    
    .showFilePath{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 50vh;
        
    }
    .filepath{
        text-align: center;
        display: inline
    }
    
}
