<div class="container-fluid" style="width: 100%; padding: 0;">
    <div class="row" style="width: 100%;">
        <div style="display: flexbox; justify-content: flex-start; width: 100%;">
            <img style="width: 100%; height: auto;" src="../../assets/H&A_Homepage_Banner.png" alt="Prime Properties Logo Here">
        </div>
    </div>

    <div style="
    position:absolute;
   bottom:0;
   width:100%;">
        <footer id="footer">
            <div id="footer-content" class="row" style="margin-right: 0;">
                <div class="col-md-4">
                    <p class="footer-paragraph">About Us:</p>
                    <p class="footer-paragraph">We are H&A Property Investments. We work with buildings. This is our system. We use it to manage
                        the units in
                        our buildings. Please contact us if you require more information.</p>
                </div>
                <div class="col-md-4">
                    <p class="footer-paragraph">Contact Us!</p>
                    <p class="footer-paragraph">
                        Cellphone: 067 486 1309
                    </p>
                    <p class="footer-paragraph">
                        Email: yusufsuliman@aaziescc.com
                    </p>
                </div>
                <div class="col-md-4 footer-paragraph">
                    <img src="../../assets/HA_png.png" alt="H&A Property Investment Logo" style="height: 86px; width: 158px;">
                </div>
            </div>
        </footer>
    </div>
</div>


<!-- <div class="footer">
    <span class="col-lg-4 col-sm-12">
        <p>About Us:</p>
        <p>We are H&A Property Investments. We work with buildings. This is our system. We use it to manage the units in
            our buildings. Please contact us if you require more information.</p>
    </span>

    <span class="col-lg-4 col-sm-12">
        <p>Contact Us!</p>
        <p>
            Cellphone: 067 486 1309
            <br>
            Email: yusufsuliman@aaziescc.com
        </p>
    </span>

    <span class="col-lg-4 col-sm-12">
        <img src="../../assets/HA_png.png" alt="H&A Property Investment Logo" style="height: 86px; width: 158px;">
    </span>
</div> -->

