<div class="content">
    <div class="centredoc">
        <h1 style="text-align: center; padding: 15px 15px;">INCLUDE TENANT DASHBOARD HERE</h1>

        <div style="margin-left: 37%; background-color: gray; width: 468px; height: 60px;">
            <img src="" alt="Fulle Banner Ad - 468-60">
        </div>
    </div>
</div>

<hr>

<div class="footer">
    <span class="col-lg-4 col-sm-12">
        <p>About Us:</p>
        <p>We are H&A Property Investments. We work with buildings. This is our system. We use it to manage the units in
            our buildings. Please contact us if you require more information.</p>
    </span>

    <span class="col-lg-4 col-sm-12">
        <p>Contact Us!</p>
        <p>
            Cellphone: 067 486 1309
            <br>
            Email: yusufsuliman@aazies.com
        </p>
    </span>

    <span class="col-lg-4 col-sm-12">
        <img src="../../assets/HA_png.png" alt="H&A Property Investment Logo" style="height: 86px; width: 158px;">
    </span>
</div>