<div class="container mt-3" style="border-style: solid; height: 58%;">
  <div class="container mt-5 mb-5" style="border-style: solid">
    <h1 style="text-align: center">
      <u><b>Fault Details:</b></u><br>
    </h1><br>
    <p><u>Please provide a description of the fault being escalated</u></p>
    <div class="container mt-2 mb-5" style="border-style: solid">
<p class="mt-3">Good day,
</p><br>
<p>The service that was provided on the 3rd of June 2019 in the Burj Khalifa building (Unit 160) is kak! Please contact me ASAP on my cellphone 067 759 6632</p><br>
<p>Thank you very much.</p><br>
<p>Kind Regards</p>
<p>Mike Litteris</p>
    </div>

    <button class="button button5" data-bs-toggle="modal" data-bs-target="#successModal" >Send</button>
    <button class="button button5" style="margin-left: 60px" data-bs-dismiss="modal" >Cancel</button>
  
   
  </div>


</div>

<!-- Success Modal -->
  

  
  <!-- Modal -->
  <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLabel">Successful Fault Escalation</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <br><br>
          <h3>Your fault has been emailed to the service provider.</h3>
          <br><br>
        </div>
        <div class="modal-footer">
          <a href="viewfault" type="button" class="btn btn-primary" data-bs-dismiss="modal" style="width: 100px;">OK</a>
          
        </div>
      </div>
    </div>
  </div>