<div>
    <a mat-button href="https://imgur.com/gallery/WKZbwM7" target="_blank">
      Help?
      </a>
    
      <button class="submit btn-sm btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal">Hint</button>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" id="exampleModalLabel">Hint: Building!</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">  
              <div class="ml-5 mt-5 row">    
                This screen allows you to Search, Edit, Delete, Add and view a building.
               <br>
                The pencil icon allows the user to edit the buidling, the dustbin allows the user to delete the builing. 
               <br>
               The user can Capture a Municipal Bill for a respective building.     
               <br>
                                  
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  
    </div>
        <!-- Aasif End -->
<body style="padding-top: 2%;">
    <button mat-raised-button color="primary" class="button3" type="button" (click)="add()">
        <mat-icon class="icon" name="arrow-round-forward">add</mat-icon>
        Add Building
    </button>
    <button mat-raised-button (click)="capture()">Capture Municipal Bill</button>

        <form [formGroup]="SearchForm" >
        <div class="Search">
            <mat-form-field id="searchBar" class="demo-full-width">
                <input type="text" size="50" (keyup)="delaySearchInput($event)" matTooltip="Search Building..." matInput placeholder="Search Building..." formControlName="SearchBuilding" name="SearchBuilding">
            </mat-form-field> 
            <button mat-icon-button aria-label="Search" type="submit">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </form>

    <div style="margin: 10px;">
        <div class="list-group buidlings-list" *ngFor="let buidling of buildings">
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="row" (click)="viewBuildingInfo(buidling)">
                    <div class="col col-md-2 image-col">
                        <img class="image" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fbanner2.kisspng.com%2F20180303%2Fhcw%2Fkisspng-the-architecture-of-the-city-building-cartoon-illu-road-building-5a9aa30bbf8af6.7363589115200837237846.jpg&f=1&nofb=1">
                    </div>
                    <div class="col col-md-6 small" style="display: inline-block;width: 80%;">
                        <table>
                           <tr>
                                <td>
                                    <h2 style="margin-left:2em;width: 15em;" class="col col-md-8 text-col">{{buidling.BuildingName}}</h2>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                 <h3 style="margin-left: 2em;width: 15em;">{{buidling.StreetAddress}}, {{buidling.Suburb}}, {{buidling.City}}</h3>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <!-- <button mat-raised-button color="warn" class="button3" type="button" (click)="openDialog(buidling.BuildingID)">
                                        <mat-icon class="icon" name="arrow-round-forward">delete</mat-icon>
                                    </button>
                                    <button mat-raised-button color="success" class="button3" type="button" (click)="edit(buidling.BuildingID)">
                                        <mat-icon class="icon" name="arrow-round-forward">edit</mat-icon>
                                    </button>
                                    <button mat-raised-button color="primary" class="button3" type="button" (click)="addUnit(buidling.BuildingID)">
                                        <mat-icon class="icon" name="arrow-round-forward">add</mat-icon>
                                    </button> -->
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div>
                    <button mat-raised-button color="warn" class="button3" type="button" (click)="openDialog(buidling.BuildingID)">
                        <mat-icon class="icon" name="arrow-round-forward">delete</mat-icon>
                    </button>
                    <button mat-raised-button color="success" class="button3" type="button" (click)="edit(buidling.BuildingID)">
                        <mat-icon class="icon" name="arrow-round-forward">edit</mat-icon>
                    </button>
                    <button mat-raised-button color="primary" class="button3" type="button" (click)="addUnit(buidling)">
                        <mat-icon class="icon">add</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

