<!-- <div class="main-div">
    <span class="heading-div">
        <h1>Payments</h1>
    </span>
    <h1>Payments</h1>

    <span class="right-div">
        <mat-form-field class="example-full-width" appearance="fill">
            <i class="bi bi-search"></i>
            <input type="email" matInput>
        </mat-form-field>

        <input type="text" class="form-control" />
        <i class="glyphicon glyphicon-user"></i>

        <span class="searchBar">
            <mat-form-field appearance="outline">
                <mat-icon matPrefix>search</mat-icon>
                <mat-label>Search</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
        </span>

        <span>
            <button mat-flat-button id="filterButton">Filter Options</button>
        </span>
    </span>
</div> -->

<div class="main-div">
    <div class="container-fluid">
        <div class="row">
            <div class="left-div col-md-4">
                <h1>Payments</h1>
            </div>
        
            <div class="right-div col-md-8">
                <mat-form-field appearance="outline">
                    <mat-icon matPrefix>search</mat-icon>
                    <mat-label>Search Payment Name</mat-label>
                    <input matInput placeholder="Placeholder" (keyup)="searchChange($event)">
                </mat-form-field>
        
                <span id="filterButton"><button mat-flat-button>Filter Options</button></span>
            </div>
        </div>
    </div>

    <!-- <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Payment Name</th>
                    <th>Date</th>
                    <th>Method</th>
                    <th>Tenant</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let payments of allPayments">
                    <td>{{ payments.PaymentName }}</td>
                    <td>{{ payments.Date }}</td>
                    <td>{{ payments.PaymentMethod }}</td>
                    <td>{{ payments.Tenant }}</td>
                    <td>{{ payments.Amount }}</td>
                    <td style="width: 5%;">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon button with a vertical three dot icon">
                            <mat-icon>more_vert</mat-icon>
                        </button>

                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="onClickGenReceipt(payments)">
                              <mat-icon>receipt</mat-icon>
                              <span>Generate Receipt</span>
                            </button>
                            <button mat-menu-item (click)="onClickEdit(payments)">
                              <mat-icon>edit</mat-icon>
                              <span>Edit Payment</span>
                            </button>
                            <button mat-menu-item (click)="onClickDelete(payments)">
                              <mat-icon>delete</mat-icon>
                              <span>Delete Payment</span>
                            </button>
                        </mat-menu>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->

    <table aria-describedby="table" mat-table [dataSource]="dataSource" matSort matSortActive="Date" matSortDirection="desc" class="mat-elevation-z8 col-12 mb-5">
        <ng-container matColumnDef="Date">
          <th id="Date" mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let item">{{ item.Date }}</td>
        </ng-container>
        <ng-container matColumnDef="PaymentName">
          <th id="PaymentName" mat-header-cell *matHeaderCellDef mat-sort-header>Payment Name</th>
          <td mat-cell *matCellDef="let item">{{ item.PaymentName }}</td>
        </ng-container>
        <ng-container matColumnDef="Method">
          <th id="Method" mat-header-cell *matHeaderCellDef mat-sort-header>Method</th>
          <td mat-cell *matCellDef="let item">{{ item.PaymentMethod }}</td>
        </ng-container>
        <ng-container matColumnDef="BuildingName">
          <th id="BuildingName" mat-header-cell *matHeaderCellDef mat-sort-header>Building Name</th>
          <td mat-cell *matCellDef="let item">{{ item.BuildingName }}</td>
        </ng-container>
        <ng-container matColumnDef="UnitNumber">
          <th id="UnitNumber" mat-header-cell *matHeaderCellDef mat-sort-header>Unit Number</th>
          <td mat-cell *matCellDef="let item">{{ item.UnitNumber }}</td>
        </ng-container>
        <ng-container matColumnDef="Tenant">
          <th id="Tenant" mat-header-cell *matHeaderCellDef mat-sort-header>Tenant</th>
          <td mat-cell *matCellDef="let item">{{ item.Tenant }}</td>
        </ng-container>
        <ng-container matColumnDef="Amount">
          <th id="Amount" mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
          <td mat-cell *matCellDef="let item">{{ item.Amount }}</td>
        </ng-container>
        <ng-container matColumnDef="Icon">
          <th id="Icon" mat-header-cell *matHeaderCellDef mat-sort-header>
            <!-- <button mat-icon-button aria-label="hidden" (click)="onCreate()">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-flat-button color="primary" (click)="onClickk()">Capture Payment</button> -->
          </th>
          <td mat-cell *matCellDef="let item">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onClickGenReceipt(item)">
                  <mat-icon>receipt</mat-icon>
                  <span>Generate Receipt</span>
                </button>
                <!-- <button mat-menu-item (click)="onClickEdit(item)">
                  <mat-icon>edit</mat-icon>
                  <span>Edit Payment</span>
                </button> -->
                <button mat-menu-item (click)="onClickDelete(item)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete Payment</span>
                </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 30, 50]" showFirstLastButtons aria-label="Select Page"></mat-paginator>

    <div class="bottombuttons">
        <!-- <button mat-flat-button color="primary" (click)="onClick()">Raise Payment</button> -->
        <button mat-flat-button color="primary" (click)="onClickk()">Capture Payment</button>
    </div>
</div>