<br>
<h1 style="font-size:40px"><b> Help Page</b>
</h1>
<br>


 <div class = "helplinks" style="margin:auto;max-width:900px"> 
  
  <h2> Click on the link below for a complete tenant help document </h2>
  <br>
  <p><a href="https://drive.google.com/file/d/1VtQykfBelpeEKrJOYOXXo31pm03vk4CT/view?usp=sharing" target="_blank">COMPLETE HELP DOCUMENT</a></p>
  <br>
  <h2> If you require help on a certain component of the system please click the link below and you will be redirected to our tenant help search site </h2>
  <br>
  <p><a href="https://cheesyff1123.wixsite.com/tenanthelp" target="_blank">SEARCH HELP SITE </a></p>
</div> 
  

